<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pokemons"
        tools:targetApi="31">
        <activity
            android:name=".SortByNumber"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="SortByName"></activity>
        <activity android:name=".Aron"></activity>
        <activity android:name=".Butterfly"></activity>
        <activity android:name=".Bulbasaur"></activity>
        <activity android:name=".Charmander"></activity>
        <activity android:name=".Ditto"></activity>
        <activity android:name=".Pika"></activity>
        <activity android:name=".Mew"></activity>
        <activity android:name=".Gastly"></activity>
        <activity android:name=".Squirtle"></activity>
    </application>

</manifest>